# Google Cloud Configuration
GOOGLE_GENAI_USE_VERTEXAI="TRUE"
GOOGLE_CLOUD_PROJECT="<YOUR_PROJECT_ID>"
GOOGLE_CLOUD_LOCATION="global"
MODEL_NAME="gemini-3.5-flash"

# Apigee Environments & Hostnames
APIGEE_DEV_ENV="default-dev"
APIGEE_DEV_HOSTNAME="<YOUR_DEV_ENV_GROUP_HOSTNAME>"
APIGEE_PROD_ENV="prod-env"
APIGEE_PROD_HOSTNAME="<YOUR_PROD_ENV_GROUP_HOSTNAME>"

# Agent Registry & ADK
AGENT_REGISTRY_LOCATION="global"
ADK_ENABLE_MCP_GRACEFUL_ERROR_HANDLING="true"
